.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.count {
  margin: 0;
  font-size: 2rem;
  color: #071848;
  width: 50px;
  text-align: center;
}

input {
  border: 1px solid #071848;
  border-radius: 12px;
}

.stepInput {
  width: 40px;
  padding: 9px;
  font-size: 1.1rem;
  text-align: center;
  margin-left: 10px;
}
