h1 {
  color: bisque;
  font-size: 2.5rem;
}

h3 {
  margin: 0 auto;
}

.counter {
  border: 1px solid bisque;
  border-radius: 8px;
  background-color: antiquewhite;
  max-width: 600px;
  display: block;
  margin: auto;
  line-height: 3rem;
}

input {
  border: 1px solid #641a1a;
  border-radius: 12px;
  padding: 10px;
}
