.App {
  text-align: center;
}

.counter-stepper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid bisque;
  border-radius: 8px;
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px 30px;
}
